<div class="container-fluid h100 relativepos">
  <div class="sidebar h100 bg-dark">
    <app-sidebar></app-sidebar>
  </div>
  <div class="body bg h100">
    <app-body></app-body>
  </div>
  <div class="footer">
    <app-player></app-player>
  </div>
</div>

<!-- <div class="row h100">
      <div class="col sidebar h100 bg-dark">
          <app-sidebar></app-sidebar>
      </div>
      <div class="col body bg h100">
        <app-body></app-body>
      </div>
  </div>
  <div class="row">
      <div class="footer col"><app-player></app-player></div>
  </div>
</div> -->